<style>
.container{
	max-width: 600px;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}
a{
	background-color:#ff9000;
	padding: 10px 30px;
	border-radius: 5px;

	color: #fff;
	text-decoration: none;
	transition: opacity 0.3s;
}
a:hover{
	opacity: 0.8;
}
p a{
	margin: 5px 0;
}
</style>

<div class="container">
	<p>Ola, {{name}}</p>
	<p>Uma alteração de senha foi solicitada para essa conta.</p>
	<p>Se foi você quem a solicitou, acesse o link abaixo para fornecer uma nova senha.</p>
	<p>
		<a href="{{link}}">Alterar</a>
	</p>
	<p>Caso não tenha solicitado alteração na senha, por favor, desconsidere essa mensagem.</p>
	<p>Atenciosamente, <br>
		<strong>Equipe Gobarber</strong>
	</p>
</div>
